!.git/hooks

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
coverage.xml

# Dependency directories (remove the comment below to include it)
# vendor/

# go debug
__debug_bin*

# docker
localstack/
volume/

# idea
/.idea

node_modules/
db/mysql

tmp

# Crash log files
crash.log
crash.*.log
