name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    paths:
      - "**.yml"
  workflow_dispatch:
permissions: write-all

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
  